﻿h1{
    color:#77b82a;
    font-size: 36px;
    text-align:center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2,h3{
    color:#888686;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

h2, h3, h4, h5, h6 {
        text-align: justify ;
    }
