﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>АО «Вайнах Телеком» - универсальный  оператор связи в Чеченской Республике</title>
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='redirectstyle.css') }}" rel="stylesheet" />
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='favicon.ico')}}">


</head>

<body>
    <div id="content" class="container">
        <div class="row" >
             <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">




            <h1 class="text-center">Уважаемый абонент!</h1>
            <h2 class="text-center"> У Вас недостаточно средств на счету. Пожалуйста,  пополните Ваш лицевой счет! </h2>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 "> 
		
                <div class="panel panel-success" id="panel" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Проверка баланса</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info" role="alert">Для проверки баланса введите 10-значный лицевой счет в формате 11########</div>
                        
                        <form name="getinfo" action="/redirect/" method="POST">

                            <div class="form-group has-success">
                                <input type="text" name="account" class="form-control input-lg" id="account" placeholder="" />
                            </div>
                            <div class="form-group has-success">
                                <button type="submit" class="btn btn-default btn-block btn-lg">Показать</button>

                            </div>
                        </form>
                        {% if result and result | length == 3 %}
                        <div class="alert alert-success" role="alert" id="balance">
                            {% for line in result %}
                            {{line.decode('utf-8')}}
                            <br />
                            {% endfor %}

                        </div>
                        {% elif result %}
                        <div class="alert alert-warning" role="alert">
                            {{result.decode('utf-8')}}
                        </div>
                        {% endif %}
                    </div>
                </div>
		
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <h3 class="text-center"> Напоминаем Вам, что первого числа каждого месяца снимается абонентская плата. Вам необходимо пополнить свой счет в соответствии с Вашим тарифным планом. Сообщаем Вам, что звонок в call-центр с сим-карты Вайнах-Телеком бесплатный! </h3>
		<h3 class="text-center">После пополнения счета переподключите VPN соединение</h3>        
                <p class="text-warning text-center"><a href="tel:+78712290500">8 (8712) 29 – 0500</a></p>
                <p class="text-warning text-center"><a href="http://vainahtelecom.ru/">vainahtelecom.ru</a></p>
            </div>
        </div>
    </div>
    
   

<script type="text/javascript">
	var balanceexist = document.getElementById("balance");
	if (balanceexist != null)
		{        document.getElementById("panel").scrollIntoView(top);
	document.getElementById("panel").style.marginTop = "10px";
}
    </script>

</body></html>
